<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %> </h1>
    <ul>
    <% messages.forEach((message) => { %>
      <h3><%- message.text %> </h3>
      <p><%- message.user %> </p>
      <p><%- message.added %></p>
    <% }) %>
  </ul>
  </body>
</html>
